html,body{
  font-family: $default-font;
  font-size: 16px;
  font-weight: 400;
}
.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
}
.container{
  max-width: 1180px;
  margin: 0 auto;
  height: 100%;
}