html,body{
  font-family: $default-font;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  background: $background-color;
}
.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
}
.container{
  max-width: 1180px;
  margin: 0 auto;
  height: 100%;
}
.main{
  padding: 40px 0 80px 0;
}