@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,400;6..12,600;6..12,700;6..12,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@500&display=swap');
