@mixin font-title($font-size,$font-weight,$color){
  font-size: $font-size;
  font-weight: $font-weight;
  color:$color;
  text-transform: uppercase;
}
@mixin font-text($font-size,$font-weight,$color){
  font-size: $font-size;
  font-weight: $font-weight;
  color:$color;
}

@mixin gradient-button($padding,$font-size){
  display: inline-flex;
  padding: $padding;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  color: #FFF;
  font-weight: 700;
  background: $main-gradient, #FFF;
  border: none;
  cursor: pointer;
}