@mixin font-title($font-size,$font-weight,$color){
  font-size: $font-size;
  font-weight: $font-weight;
  color:$color;
  text-transform: uppercase;
}
@mixin font-text($font-size,$font-weight,$color) {
  font-size: $font-size;
  font-weight: $font-weight;
  color:$color;
}

@mixin gradient-button($padding,$font-size) {
  display: inline-flex;
  padding: $padding;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  color: #FFF;
  font-weight: 700;
  background: $main-gradient, #FFF;
  cursor: pointer;

  transition: all 0.2s ease-in-out;

  &:disabled{
    background: linear-gradient(25deg, #0d748b 0%, #1a0b73 100%), rgba(255, 255, 255, 0.5);
  }
  &:hover{
    box-shadow: 0 4px 20px 0 rgba(26, 11, 115, 0.4);
    background: linear-gradient(25deg, #0d748b 0%, #1a0b73 100%);
  }
  &:active{
    background: linear-gradient(0deg, rgba(24, 21, 75, 0.60) 0%, rgba(24, 21, 75, 0.60) 100%), linear-gradient(74deg, #0D748B -10.13%, #1A0B73 75.49%);
  }
}
@mixin white-button($padding, $font-size){
  display: inline-flex;
  padding: $padding;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  color: #18154b;
  font-weight: 700;
  background: #fff;
  cursor: pointer;

  transition: all 0.2s ease-in-out;

  &:disabled{
    background: rgba(255, 255, 255, 0.6);
  }
  &:hover{
    box-shadow: 0 4px 30px 0 rgba(255, 255, 255, 0.4);
    background: #fff;
  }
  &:active{
    background: linear-gradient(0deg, rgba(24, 21, 75, 0.15) 0%, rgba(24, 21, 75, 0.15) 100%), #FFF;

  }

}
