@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,400;6..12,600;6..12,700;6..12,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:wght@500&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit; }

a {
  color: inherit; }

html, body {
  font-family: "Nunito Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  background: #f0f5fb; }

.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden; }

.container {
  max-width: 1180px;
  margin: 0 auto;
  height: 100%; }

.main {
  padding: 40px 0 80px 0; }

.banner {
  display: flex;
  gap: 20px; }
  .banner-equipment {
    padding: 80px 45px 80px 60px;
    border-radius: 10px;
    width: 780px;
    height: 440px;
    box-shadow: 0 4px 20px 0 rgba(0, 7, 94, 0.1);
    background: url("/images/main/banner/network.svg") no-repeat, url("/images/main/banner/Ellipse.png") no-repeat right center, linear-gradient(25deg, #0d748b 0%, #1a0b73 100%);
    position: relative; }
    .banner-equipment__img {
      width: 263px;
      height: 250px; }
    .banner-equipment__inner {
      display: flex;
      align-items: center;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      min-height: 100%; }
    .banner-equipment__info {
      width: fit-content;
      height: 100%; }
    .banner-equipment__title {
      font-size: 38px;
      font-weight: 800;
      color: #FFF;
      text-transform: uppercase;
      width: 341px; }
    .banner-equipment__text {
      font-size: 18px;
      font-weight: 600;
      color: #fff;
      margin-top: 20px; }
    .banner-equipment__btn {
      display: inline-flex;
      padding: 15px 32px;
      justify-content: center;
      align-items: center;
      border-radius: 50px;
      color: #18154b;
      font-weight: 700;
      background: #fff;
      cursor: pointer;
      transition: all 0.2s ease-in-out;
      margin-top: 30px; }
      .banner-equipment__btn:disabled {
        background: rgba(255, 255, 255, 0.6); }
      .banner-equipment__btn:hover {
        box-shadow: 0 4px 30px 0 rgba(255, 255, 255, 0.4);
        background: #fff; }
      .banner-equipment__btn:active {
        background: linear-gradient(0deg, rgba(24, 21, 75, 0.15) 0%, rgba(24, 21, 75, 0.15) 100%), #FFF; }
    .banner-equipment__slider {
      display: flex;
      position: absolute;
      top: 398px;
      right: 30px;
      gap: 10px; }
  .banner-offer {
    display: flex;
    border-radius: 10px;
    padding: 40px 30px 30px 40px;
    width: 380px;
    height: 440px;
    box-shadow: 0 4px 20px 0 rgba(0, 7, 94, 0.1);
    background: url("/images/main/banner/bitcoin.png") no-repeat left bottom 30px, url("/images/main/banner/background-ellipse.png") no-repeat right bottom, radial-gradient(171.82% 119.39% at -6.32% -2.5%, #42e8e0 0%, #40ddda 0%, #3aaec0 9.2072576284%, #3484a9 17.2999992967%, #2f6195 25.7299989462%, #2b4486 34.580001235%, #282e79 43.9999997616%, #261e71 54.2500019073%, #24156c 65.9399986267%, #24126a 82.2600007057%), #1a0b73; }
    .banner-offer__inner {
      position: relative;
      width: 100%;
      min-height: 100%; }
    .banner-offer__title {
      font-size: 28px;
      font-weight: 800;
      color: #FFF;
      text-transform: uppercase;
      width: 231px; }
    .banner-offer__discount {
      display: flex;
      align-items: center;
      gap: 20px;
      margin-top: 10px;
      font-size: 18px;
      font-weight: 600;
      color: #fff;
      line-height: 1.25; }
      .banner-offer__discount-number {
        font-size: 56px;
        font-weight: 700;
        color: #FFF;
        text-transform: uppercase; }
    .banner-offer__trans {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      align-self: flex-end;
      font-size: 16px;
      font-weight: 700;
      color: #fff;
      gap: 10px;
      position: absolute;
      bottom: 0;
      right: 0; }

.category {
  margin: 80px 0 80px 0; }
  .category-title {
    font-size: 36px;
    font-weight: 800;
    color: #18154b;
    text-transform: uppercase;
    margin-bottom: 40px; }
  .category-showcase {
    display: grid;
    grid-template: repeat(2, 1fr)/repeat(3, 1fr);
    gap: 20px; }
    .category-showcase__cargo {
      display: flex;
      align-items: center;
      flex-direction: row;
      gap: 23px;
      padding: 30px 30px 30px 25px;
      border-radius: 10px;
      width: 380px;
      height: 170px;
      box-shadow: 0 4px 20px 0 rgba(0, 7, 94, 0.1);
      background: url("/images/main/category/showcase-ellipse.png") no-repeat, #fff; }
    .category-showcase__img {
      width: 140px;
      height: 130px; }
    .category-showcase__text {
      display: flex;
      height: 100%;
      flex-direction: column;
      justify-content: space-between;
      font-size: 18px;
      font-weight: 600;
      color: #303239;
      line-height: 1.3; }
    .category-showcase__trans {
      display: flex;
      align-items: center;
      gap: 10px;
      transition: all 0.2s ease-in-out; }
      .category-showcase__trans:hover {
        gap: 20px; }
      .category-showcase__trans:active {
        gap: 20px; }
    .category-showcase__link {
      font-size: 16px;
      font-weight: 700;
      color: #18154b; }

.advantages {
  border-radius: 10px;
  width: 100%;
  height: 374px;
  padding: 50px 5px 56px 60px;
  box-shadow: 0 4px 20px 0 rgba(0, 7, 94, 0.1);
  background: url("/images/main/advantages/network.png"), url("/images/main/advantages/video-card-background.png") no-repeat bottom 15px left 55px, url("/images/main/advantages/backgrround-ellipse.png") no-repeat right bottom, radial-gradient(130.91% 98.19% at -8.58% -1.44%, #42e8e0 0%, #40ddda 1.5713810921%, #3aaec0 9.2072576284%, #3484a9 17.2999992967%, #2f6195 25.7299989462%, #2b4486 34.580001235%, #282e79 43.9999997616%, #180564 82.2600007057%); }
  .advantages__inner {
    display: flex;
    flex-direction: row;
    min-height: 100%;
    width: 100%;
    gap: 100px; }
  .advantages-title {
    font-size: 36px;
    font-weight: 800;
    color: #fff;
    text-transform: uppercase;
    width: 341px; }
  .advantages-about {
    display: grid;
    grid-template: repeat(2, 1fr)/repeat(3, 240px);
    row-gap: 40px; }
    .advantages-about__block {
      display: flex;
      flex-direction: column;
      gap: 10px;
      font-size: 16px;
      font-weight: 600;
      color: #fff;
      width: 240px; }
      .advantages-about__block:last-child {
        width: 220px; }
      .advantages-about__block:nth-child(3) {
        width: 220px; }
      .advantages-about__block img {
        border-radius: 100%;
        fill: rgba(52, 110, 164, 0.2);
        box-shadow: 0 4px 40px 0 rgba(0, 6, 84, 0.9);
        height: 60px;
        width: 60px; }

.hits {
  margin: 80px 0 80px 0;
  display: flex;
  flex-direction: column; }
  .hits-title {
    font-size: 36px;
    font-weight: 800;
    color: #18154b;
    text-transform: uppercase;
    margin-bottom: 40px; }
  .hits-slider {
    display: flex;
    gap: 10px;
    align-items: center;
    align-self: center; }
  .hits-cards {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    margin-bottom: 30px; }
    .hits-cards__block {
      padding: 15px 15px 30px 15px;
      border-radius: 10px;
      width: 220px;
      height: 360px;
      box-shadow: 0 4px 20px 0 rgba(0, 7, 94, 0.1);
      background: #fff; }
      .hits-cards__block-top {
        display: flex;
        justify-content: space-between;
        width: 100%; }
      .hits-cards__block-attention {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 4px;
        padding: 3px 10px;
        width: 46px;
        height: 22px;
        background: #f0f5fb; }
      .hits-cards__block-title {
        font-size: 12px;
        font-weight: 800;
        color: #fff;
        text-transform: uppercase;
        letter-spacing: 0.02em;
        background: linear-gradient(25deg, #0d748b 0%, #1a0b73 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent; }
      .hits-cards__block-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 5px;
        width: 100%;
        flex-direction: column; }
      .hits-cards__block-img {
        margin-bottom: 7px; }
      .hits-cards__block-inner {
        display: flex;
        flex-direction: column;
        min-height: 100%;
        width: 100%;
        font-size: 14px;
        font-weight: 600;
        color: #303239; }
      .hits-cards__block-storage {
        display: flex;
        align-items: center;
        gap: 8px;
        margin-top: 6px;
        font-size: 12px;
        font-weight: 600;
        color: #9b9b9b; }
      .hits-cards__block-price {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 9px; }
      .hits-cards__block-sale {
        display: flex;
        align-items: center;
        gap: 8px; }
      .hits-cards__block-number {
        font-size: 14px;
        font-weight: 700;
        color: #303239; }
        .hits-cards__block-number-crossed {
          font-size: 10px;
          font-weight: 600;
          color: #9b9b9b;
          text-decoration-line: line-through; }
      .hits-cards__block-busket {
        border-radius: 30px;
        width: 36px;
        height: 36px;
        background: #f0f5fb; }
        .hits-cards__block-busket-black {
          border-radius: 30px;
          width: 36px;
          height: 36px;
          background: linear-gradient(74deg, #0D748B -10.13%, #1A0B73 75.49%); }
      .hits-cards__block-btn {
        display: inline-flex;
        padding: 13px 36px;
        justify-content: center;
        align-items: center;
        border-radius: 50px;
        color: #FFF;
        font-weight: 700;
        background: linear-gradient(74deg, #0D748B -10.13%, #1A0B73 75.49%), #FFF;
        cursor: pointer;
        transition: all 0.2s ease-in-out; }
        .hits-cards__block-btn:disabled {
          background: linear-gradient(25deg, #0d748b 0%, #1a0b73 100%), rgba(255, 255, 255, 0.5); }
        .hits-cards__block-btn:hover {
          box-shadow: 0 4px 20px 0 rgba(26, 11, 115, 0.4);
          background: linear-gradient(25deg, #0d748b 0%, #1a0b73 100%); }
        .hits-cards__block-btn:active {
          background: linear-gradient(0deg, rgba(24, 21, 75, 0.6) 0%, rgba(24, 21, 75, 0.6) 100%), linear-gradient(74deg, #0D748B -10.13%, #1A0B73 75.49%); }

#text-1 {
  width: 123px; }

#text-2 {
  width: 128px; }

#text-3 {
  width: 107px; }

#text-4 {
  width: 110px; }

#text-5 {
  width: 134px; }

#text-6 {
  width: 139px; }

.about {
  margin-bottom: 80px; }
  .about-history {
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px; }
    .about-history__img {
      height: 250px;
      width: 460px;
      box-shadow: 0 4px 20px 0 rgba(0, 7, 94, 0.1); }
    .about-history__title {
      font-size: 36px;
      font-weight: 800;
      color: #18154b;
      text-transform: uppercase;
      margin-bottom: 40px; }
    .about-history__text {
      line-height: 1.45;
      color: #303239;
      width: 645px; }
  .about-list {
    display: flex;
    justify-content: space-between; }
    .about-list__text {
      line-height: 1.45;
      color: #303239; }
    .about-list__circle {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 60px;
      height: 60px;
      border-radius: 100%;
      background: #f0f5fb; }
    .about-list__white-circle {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 80px;
      height: 80px;
      border-radius: 100%;
      box-shadow: 0 4px 20px 0 rgba(0, 7, 94, 0.1);
      background-color: white;
      margin-bottom: 15px; }

*::-webkit-input-placeholder {
  font-size: 14px;
  font-weight: 400;
  color: #f3f3f3; }

.form {
  margin-bottom: 80px;
  border-radius: 10px;
  width: 1180px;
  height: 330px;
  box-shadow: 0 4px 20px 0 rgba(0, 7, 94, 0.1);
  padding: 50px 60px;
  background: url("/images/main/form/background-ellipse.svg") no-repeat bottom left, url("/images/main/form/background-form.png");
  /* вариации внешнего вида в зав-ти от статуса checkbox */
  /* checked */
  /* disabled */ }
  .form-inner {
    width: 100%;
    min-height: 100%; }
  .form-title {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 28px;
    font-weight: 800;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 10px; }
  .form-description {
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 25px; }
  .form-inputs {
    display: flex;
    gap: 20px;
    margin-bottom: 20px; }
  .form__input {
    border: 1px solid rgba(243, 243, 243, 0.7);
    border-radius: 50px;
    width: 240px;
    height: 50px;
    background: rgba(255, 255, 255, 0.3);
    line-height: 1.35;
    font-size: 14px;
    font-weight: 400;
    color: #f3f3f3;
    padding-left: 20px;
    transition: all 0.2s ease-in-out; }
    .form__input:focus {
      border: 1px solid #f3f3f3;
      background: rgba(255, 255, 255, 0.5); }
  .form-btn {
    display: inline-flex;
    padding: 15px 80px;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    color: #18154b;
    font-weight: 700;
    background: #fff;
    cursor: pointer;
    transition: all 0.2s ease-in-out; }
    .form-btn:disabled {
      background: rgba(255, 255, 255, 0.6); }
    .form-btn:hover {
      box-shadow: 0 4px 30px 0 rgba(255, 255, 255, 0.4);
      background: #fff; }
    .form-btn:active {
      background: linear-gradient(0deg, rgba(24, 21, 75, 0.15) 0%, rgba(24, 21, 75, 0.15) 100%), #FFF; }
  .form__label-checkbox {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 400;
    color: #f3f3f3;
    cursor: pointer; }
    .form__label-checkbox:before {
      color: #000;
      margin-right: 10px;
      border-image: initial;
      content: url("/images/main/form/Checkbox-off.svg");
      width: 14px;
      height: 14px; }
  .form input[type="checkbox"] {
    display: none; }
  .form input:checked + label:before {
    content: url("/images/main/form/Checkbox-on.svg");
    width: 14px;
    height: 14px; }
  .form input:disabled + label:before {
    content: url("/images/main/form/Checkbox-off.svg");
    width: 14px;
    height: 14px; }

#contacts-time {
  width: 233px; }

.contacts {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px; }
  .contacts-title {
    font-size: 36px;
    font-weight: 800;
    color: #18154b;
    text-transform: uppercase;
    margin-bottom: 40px; }
  .contacts-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 18px;
    font-weight: 400;
    color: #303239;
    margin-bottom: 40px; }
    .contacts-list__item {
      display: flex;
      gap: 10px; }
      .contacts-list__item-img {
        margin-top: 5px; }
      .contacts-list__item-time {
        display: flex;
        align-items: flex-start; }
  .contacts-link {
    display: flex;
    gap: 20px; }
  .contacts-map {
    height: 365px;
    width: 100%;
    max-width: 680px;
    border-radius: 10px;
    box-shadow: 0 4px 20px 0 rgba(0, 7, 94, 0.1);
    overflow: hidden; }

.header-top {
  height: 46px;
  width: 100%;
  background: #18154B;
  color: #F0F5FB;
  font-size: 14px;
  font-weight: 400; }
  .header-top__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .header-top__list {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    gap: 44px; }
  .header-top__item {
    display: flex;
    gap: 10px; }
  .header-top__messengers {
    display: flex;
    gap: 0; }
  .header-top__contacts {
    display: flex;
    flex-direction: row;
    gap: 18px; }

.header-bottom {
  width: 100%;
  height: 70px;
  background: #FFF;
  box-shadow: 0 4px 20px 0 rgba(0, 7, 94, 0.1); }
  .header-bottom__circle_circle {
    display: flex;
    position: absolute;
    top: -13%;
    right: -15%; }
  .header-bottom__circle_num {
    display: flex;
    position: absolute;
    top: -1px;
    right: 0;
    font-family: "Inter", sans-serif;
    font-size: 10px;
    font-weight: 500;
    color: #fff; }
  .header-bottom__btn {
    display: inline-flex;
    padding: 11px 27px;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    color: #FFF;
    font-weight: 700;
    background: linear-gradient(74deg, #0D748B -10.13%, #1A0B73 75.49%), #FFF;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    margin-right: 33px; }
    .header-bottom__btn:disabled {
      background: linear-gradient(25deg, #0d748b 0%, #1a0b73 100%), rgba(255, 255, 255, 0.5); }
    .header-bottom__btn:hover {
      box-shadow: 0 4px 20px 0 rgba(26, 11, 115, 0.4);
      background: linear-gradient(25deg, #0d748b 0%, #1a0b73 100%); }
    .header-bottom__btn:active {
      background: linear-gradient(0deg, rgba(24, 21, 75, 0.6) 0%, rgba(24, 21, 75, 0.6) 100%), linear-gradient(74deg, #0D748B -10.13%, #1A0B73 75.49%); }
  .header-bottom__logo {
    font-size: 20px;
    font-weight: 800;
    color: #FFF;
    text-transform: uppercase;
    background: linear-gradient(74deg, #0D748B -10.13%, #1A0B73 75.49%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }
  .header-bottom__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%; }
    .header-bottom__nav-transition {
      display: flex;
      gap: 10px; }
    .header-bottom__nav-circle {
      cursor: pointer;
      display: flex;
      width: 40px;
      height: 40px;
      padding: 10px;
      justify-content: center;
      align-items: center;
      flex-shrink: 0;
      border-radius: 30px;
      background: #F0F5FB;
      position: relative; }
    .header-bottom__nav-item {
      transition: all 0.2s ease-in-out; }
      .header-bottom__nav-item:hover {
        color: rgba(48, 50, 57, 0.7); }
      .header-bottom__nav-item_vector {
        display: flex;
        gap: 8px;
        text-align: center; }
        .header-bottom__nav-item_vector:after {
          content: url("/images/header/Vector.svg");
          height: 5px;
          width: 10px;
          text-align: center; }
    .header-bottom__nav-list {
      display: flex;
      font-size: 16px;
      font-weight: 400;
      color: #303239;
      gap: 40px; }

.footer {
  width: 100%;
  height: 336px;
  background: #18154b;
  padding: 70px 0; }
  .footer-inner {
    display: flex;
    justify-content: space-between;
    width: 100%;
    min-height: 100%; }
  .footer-logo {
    display: flex;
    flex-direction: column;
    gap: 16px;
    font-size: 15px;
    font-weight: 400;
    color: #b8b8b8; }
  .footer-title {
    font-size: 22px;
    font-weight: 800;
    color: #fff;
    text-transform: uppercase; }
  .footer-block {
    display: flex;
    flex-direction: column;
    gap: 20px; }
    .footer-block__title {
      font-size: 16px;
      font-weight: 700;
      color: #b8b8b8;
      text-transform: uppercase;
      letter-spacing: 0.02em; }
    .footer-block__list {
      display: flex;
      flex-direction: column;
      font-size: 15px;
      font-weight: 400;
      color: #fff;
      gap: 8px; }
  .footer-add {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
    text-align: end; }
    .footer-add__btn {
      display: inline-flex;
      padding: 15px 39px;
      justify-content: center;
      align-items: center;
      border-radius: 50px;
      color: #18154b;
      font-weight: 700;
      background: #fff;
      cursor: pointer;
      transition: all 0.2s ease-in-out; }
      .footer-add__btn:disabled {
        background: rgba(255, 255, 255, 0.6); }
      .footer-add__btn:hover {
        box-shadow: 0 4px 30px 0 rgba(255, 255, 255, 0.4);
        background: #fff; }
      .footer-add__btn:active {
        background: linear-gradient(0deg, rgba(24, 21, 75, 0.15) 0%, rgba(24, 21, 75, 0.15) 100%), #FFF; }
    .footer-add__text {
      display: flex;
      flex-direction: column;
      gap: 8px;
      font-size: 15px;
      font-weight: 400;
      color: #b8b8b8; }

/*# sourceMappingURL=style.css.map */
